html {
  display: block;
  height:1024px;
  width:100%;
}

body {
  display:block;
  height:100%;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0px;
  overflow:hidden;

}

.spine {
  background-image: url('../img/BG.png');
  background-size:cover;
  height:1024px;
  width:100%;
  overflow:hidden;
  position:absolute;
  bottom:195px;
}

.nav{
  display:block;
  height:85px;
  width:710px;
  position:absolute;
  left:28%;
  bottom:198px;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
}

.tower{
  display:block;
  position: absolute;
  bottom:0px;
  left:28%;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  height:1856px;
  width:710px;
  background-image: url('../img/tower.png');
  background-size:cover;
}

.vanguard{
  display:block;
  width:710px;
  height:2350px;
  position:absolute;
  left:28%;
  bottom:275px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_return{
  bottom:275px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_about{
  bottom:-195px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_menu{
  bottom:-665px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_prorder{
  bottom:-1135px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_contact{
  bottom:-1605px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.bloc_def{
  position:absolute;
  bottom:0px;
  display:block;
  height:470px;
  width:100%;
  background-color:red;
  opacity:.5;
}

.bloc_about{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:470px;
  background-color:orange;
  opacity:.5;
}

.bloc_menu{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:940px;
  background-color:yellow;
  opacity:.5;
}

.bloc_prorder{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:1410px;
  background-color:green;
  opacity:.5;
}

.bloc_contact{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:1880px;
  background-color:blue;
  opacity:.5;
}

.tower_return{
  bottom:0px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_about{
  bottom:-208px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_menu{
  bottom:-416px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_prorder{
  bottom:-624px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_contact{
  bottom:-832px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.bloc_manifest{
  opacity:1.0;
  transition:.5s ease-out
  transition-delay:.2s;
}


.bloc_vanish{
  opacity:0;
  transition:.5s ease-out
  transition-delay:.2s;
}


.tempo_home{
  height:50px;
  width:50px;
  border-radius:25px;
  background-color:red;
  position:absolute;
  bottom:20px;
  left:25px;
  cursor:pointer;
}

.tempo_about{
  height:55px;
  width:238px;
  background-image:url('../img/about_button.png');
  position:absolute;
  bottom:15px;
  left:-25px;
  cursor:pointer;
  -webkit-transform:scale(.6,.6);
}

.tempo_menu{
  height:54px;
  width:134px;
  background-image:url('../img/menu_button.png');
  position:absolute;
  bottom:15px;
  left:0px;
  cursor:pointer;
  -webkit-transform:scale(.6,.6);
}

.tempo_prorder{
  height:55px;
  width:261px;
  background-image:url('../img/prorder_button.png');
  position:absolute;
  bottom:0px;
  left:-25px;
  cursor:pointer;
  -webkit-transform:scale(.6,.6);
}

.tempo_contact{
  height:55px;
  width:223px;
  background-image:url('../img/contact_button.png');
  position:absolute;
  bottom:0px;
  left:0px;
  cursor:pointer;
  -webkit-transform:scale(.6,.6);
}

.social_carry{
  height:60px;
  width:230px;
  position:absolute;
  top:-150px;
  left:30%;
  overflow:hidden;
}

.social_fb{
  height:50px;
  width:50px;
  position:absolute;
  transition:.25s ease-out;
}

.fotter_carrier{
  height:195px;
  width:100%;
  position:absolute;
  bottom:0px;
  background-image: url('../img/peas.png');
  background-size:cover;
}

.fotter_stroke{
  height:100%;
  width:100%;
  outline-style:solid;
  outline-color:#F8AB1E;
  outline-width:4px;
  position:absolute;
}

.nav_crab{
  width:25%;
  height:100%;
  position:relative;
  float:left;
}

.goff_log{
  height:195px;
  width:195px;
  background-image:url('../img/goff_logo.png');
  background-size:cover;
  position:absolute;
  left:0px;
}

.title{
  position:absolute;
  background-image: url('../img/title.png');
  top:10px;
  left:-27%;
  height:199px;
  width:1079px;
  -webkit-transform:scale(.75,.75);
}

.tag{
  position:absolute;
  height:59px;
  width:583px;
  background-image:url('../img/tag.png');
  top:220px;
  left:25%;
  -webkit-transform:scale(1.4,1.4);
}

.about_gemini_1{
  height:485px;
  width:330px;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
  position:absolute;
  left:-25px;
  bottom:60px;

}

.about_gemini_2{
  height:485px;
  width:330px;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
  position:absolute;
  right:-25px;
  bottom:60px;

}

.gemini_menu_R{
  height:485px;
  width:330px;
  right:-75px;
  bottom:60px;
  position:absolute;
  overflow:hidden;
}

.gemini_menu_L{
  height:485px;
  width:330px;
  left:-75px;
  bottom:60px;
  position:absolute;
  overflow:hidden;
}

.gemini_menu_killer{
  height:485px;
  width:1650px;
}

.gemini_menu_tail{
  height:485px;
  width:330px;
  position:relative;
  float:right;
}

.gemini_menu_def{
  left:0px;
}

.gemini_menu_2{
  left:-330px;
}

.gemini_menu_3{
  left:-660px;
}

.gemini_menu_4{
  left:-990px;
}

.gemini_menu_5{
  left:-1320px;
}

.about_guts{
  background-image:url('../img/about_guts.png');
  width:276px;
  height:375px;
  position:absolute;
  top:50px;
  left:20px;
}
