html {
  display: block;
  height:1024px;
  width:100%;
}

body {
  display:block;
  height:100%px;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0px;

}

.spine {
  background-image: url('..img/BG.png');
  background-size:cover;
  height:1024px;
  width:100%;
  overflow:hidden;
}



.nav{
  display:block;
  height:85px;
  width:710px;
  position:absolute;
  left:25%;
  bottom:105px;
  background-color:#371F1A;
  outline-color: #F4AC26;
  outline-width: 4px;
}

.tower{
  display:block;
  position: absolute;
  bottom:0px;
  left:25%;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  height:1856px;
  width:710px;
  background-image: url('..img/tower.png');
  background-size:cover;
}

.vanguard{
  display:block;
  width:710px;
  height:2350px;
  position:absolute;
  overflow:hidden;
  left:25%;
  bottom:190px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_return{
  bottom:190px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_about{
  bottom:-280px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_menu{
  bottom:-750px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_prorder{
  bottom:-1220px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_contact{
  bottom:-1690px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.bloc_def{
  position:absolute;
  bottom:0px;
  display:block;
  height:470px;
  width:100%;
  background-color:red;
}

.bloc_about{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:470px;
  background-color:orange;
}

.bloc_menu{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:940px;
  background-color:yellow;
}

.bloc_prorder{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:1410px;
  background-color:green;
}

.bloc_contact{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:1880px;
  background-color:blue;
}

.tower_return{
  bottom:0px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_about{
  bottom:208px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_menu{
  bottom:416px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_prorder{
  bottom:624px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_contact{
  bottom:832px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.bloc_manifest{
  opacity:1.0;
  transition:.5s ease-out
  transition-delay:.2s;
}


.bloc_vanish{
  opacity:0;
  transition:.5s ease-out
  transition-delay:.2s;
}
