html {
  display: block;
  height:1024px;
  width:100%;
}

body {
  display:block;
  height:100%;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0px;
  overflow:hidden;

}

.spine {
  background-image: url('../img/BG.png');
  background-size:cover;
  height:1024px;
  width:100%;
  overflow:hidden;
  position:absolute;
  bottom:195px;
}

.nav{
  display:block;
  height:85px;
  width:710px;
  position:absolute;
  left:38%;
  bottom:198px;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
}

.tower{
  display:block;
  position: absolute;
  bottom:0px;
  left:38%;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  height:1856px;
  width:710px;
  background-image: url('../img/tower.png');
  background-size:cover;
}

.vanguard{
  display:block;
  width:710px;
  height:2350px;
  position:absolute;
  left:38%;
  bottom:275px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_return{
  bottom:275px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_about{
  bottom:-195px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_menu{
  bottom:-665px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_prorder{
  bottom:-1135px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.vanguard_contact{
  bottom:-1605px;
  transition:.7s;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
}

.bloc_def{
  position:absolute;
  bottom:0px;
  display:block;
  height:470px;
  width:100%;
  transition:.5s ease-out;

}

.bloc_about{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:470px;
  opacity:0.0;
  transition:.5s ease-out;

}

.bloc_menu{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:940px;
  opacity:0.0;
  transition:.5s ease-out;

}

.bloc_prorder{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:1410px;
  opacity:0.0;
  transition:.5s ease-out;

}

.bloc_contact{
  position:absolute;
  display:block;
  height:470px;
  width:100%;
  bottom:1880px;
  opacity:0.0;
  transition:.5s ease-out;

}

.tower_return{
  bottom:0px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_about{
  bottom:-208px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_menu{
  bottom:-416px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_prorder{
  bottom:-624px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.tower_contact{
  bottom:-832px;
  transition-timing-function:cubic-bezier(.5,0,.29,1);
  transition:.7s;
}

.bloc_manifest{
  opacity:1.0;
  transition:.5s ease-out;
  transition-delay:.2s;
}


.bloc_vanish{
  opacity:0;
  transition:.5s ease-out;
  transition-delay:.2s;
}


.tempo_home{
  height:34px;
  width:80px;
  background-image:url('../img/home_button.png');
  position:absolute;
  top:140px;
  left:25px;
  cursor:pointer;
}


.home_butt{
  width:75px;
  height:94px;
  background-image:url('../img/home_log.png');
  position:absolute;
  top:-120px;

}


.tempo_about{
  height:55px;
  width:238px;
  background-image:url('../img/about_button.png');
  position:absolute;
  bottom:15px;
  left:-25px;
  cursor:pointer;
  -webkit-transform:scale(.6,.6);
  transition:.25s ease-out;
}

.tempo_about:hover{
  -webkit-transform:scale(.65,.65);
  transition:.25s ease-out;
}

.tempo_menu{
  height:54px;
  width:134px;
  background-image:url('../img/menu_button.png');
  position:absolute;
  bottom:15px;
  left:20px;
  cursor:pointer;
  -webkit-transform:scale(.6,.6);
  transition:.25s ease-out;
}

.tempo_menu:hover{
  -webkit-transform:scale(.65,.65);
  transition:.25s ease-out;
}

.tempo_prorder{
  height:55px;
  width:261px;
  background-image:url('../img/prorder_button.png');
  position:absolute;
  bottom:15px;
  left:-50px;
  cursor:pointer;
  -webkit-transform:scale(.6,.6);
  transition:.25s ease-out;
}

.tempo_prorder:hover{
  -webkit-transform:scale(.65,.65);
  transition:.25s ease-out;
}

.tempo_contact{
  height:55px;
  width:223px;
  background-image:url('../img/contact_button.png');
  position:absolute;
  bottom:15px;
  left:-20px;
  cursor:pointer;
  -webkit-transform:scale(.6,.6);
  transition:.25s ease-out;
}

.tempo_contact:hover{
  -webkit-transform:scale(.65,.65);
  transition:.25s ease-out;
}
.brunch_master{
  height:100%;
  width:710px;
  position:absolute;
  left:38%;
}

.tempo_brunch{
  width:147px;
  height:66px;
  background-image:url('../img/footer_brunch.png');
  position:absolute;
  bottom:50px;
  left:65px;
  transition:.25s ease-out;
  cursor:pointer;
  z-index:1;
}

.tempo_brunch:hover{
  -webkit-transform:scale(1.2,1.2);
  transition:.25s ease-out;
}

.social_carry{
  height:60px;
  width:230px;
  position:absolute;
  top:-150px;
  left:30%;
  overflow:hidden;
}



.social_inst{
  height:100px;
  width:100px;
  position:absolute;
  transition:.25s ease-out;
  background-image:url('../img/inst.png');
  background-size:cover;
  left:0px;
}

.social_fb{
  height:80px;
  width:80px;
  position:absolute;
  transition:.25s ease-out;
  background-image:url('../img/fb.png');
  background-size:cover;
  left:190px;
  top:10px;
}

.social_twt{
  height:100px;
  width:100px;
  position:absolute;
  transition:.25s ease-out;
  background-image:url('../img/twt.png');
  background-size:cover;
  right:0px;
}


.fotter_carrier{
  height:195px;
  width:100%;
  position:absolute;
  bottom:0px;
  background-image: url('../img/peas.png');
  background-size:cover;
}

.fotter_stroke{
  height:100%;
  width:100%;
  outline-style:solid;
  outline-color:#F8AB1E;
  outline-width:4px;
  position:absolute;
}

.nav_crab{
  width:25%;
  height:100%;
  position:relative;
  float:left;
}

.goff_log{
  height:195px;
  width:195px;
  background-image:url('../img/goff_logo.png');
  background-size:cover;
  position:absolute;
  left:0px;
}

.goff_frame{
  height:100%;
  width:150%;
  position:absolute;
  left:100%;
}

.goff_splice{
  height:174px;
  width:220px;
  background-image:url('../img/footer_brunch_frame.png');
  position:absolute;
  left:25px;
  bottom:5px;
}

.title{
  position:absolute;
  background-image: url('../img/title.png');
  top:10px;
  left:-27%;
  height:199px;
  width:1079px;
  -webkit-transform:scale(.75,.75);
}

.tag{
  position:absolute;
  height:59px;
  width:583px;
  background-image:url('../img/tag.png');
  top:220px;
  left:25%;
  -webkit-transform:scale(1.4,1.4);
}

.about_gemini_1{
  height:485px;
  width:330px;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
  position:absolute;
  left:-25px;
  bottom:60px;

}

.about_gemini_2{
  height:485px;
  width:330px;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
  position:absolute;
  right:-25px;
  bottom:60px;

}

.gemini_menu_R{
  height:485px;
  width:330px;
  right:-75px;
  bottom:60px;
  position:absolute;
  overflow:hidden;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
}

.gemini_menu_L{
  height:485px;
  width:330px;
  left:-75px;
  bottom:60px;
  position:absolute;
  overflow:hidden;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
}

.gemini_menu_killer{
  height:485px;
  width:1650px;
  transition:.25s ease-out;
  position:absolute;
  left:0px;
}

.gemini_menu_tail{
  height:485px;
  width:330px;
  position:relative;
  float:right;
}

.gemini_menu_def{
  left:0px;
  transition:.25s ease-out;
}

.gemini_menu_2{
  left:-330px;
  transition:.25s ease-out;
}

.gemini_menu_3{
  left:-660px;
  transition:.25s ease-out;
}

.gemini_menu_4{
  left:-990px;
  transition:.25s ease-out;
}

.gemini_menu_5{
  left:-1320px;
  transition:.25s ease-out;
}

.about_guts{
  background-image:url('../img/about_guts.png');
  width:276px;
  height:375px;
  position:absolute;
  top:50px;
  left:20px;
}

.gemini_larrow{
  height:100px;
  width:100px;
  border-radius:50px;
  background-color:#371F1A;
  box-shadow: 0 0 0 3pt #83A96C;
  position:bottom:50%;
  left:-125px;
  cursor:pointer;
  position:absolute;
  top:150px;
  z-index:1;
}

.gemini_rarrow{
  height:100px;
  width:100px;
  border-radius:50px;
  background-color:#371F1A;
  box-shadow: 0 0 0 3pt #83A96C;
  position:bottom:50%;
  left:210px;
  cursor:pointer;
  position:absolute;
  top:150px;
  z-index:1;
}

.gemini_arrow_l{
  height:94px;
  width:60px;
  background-image:url('../img/green_arrow.png');
  position:absolute;
  -webkit-transform:scale(.7,.7);
  left:15px;
}

.gemini_arrow_r{
  height:94px;
  width:60px;
  background-image:url('../img/green_arrow.png');
  position:absolute;
  -webkit-transform:scale(-.7,.7);
  left:25px;
}

.gemini_larrow:hover{
  box-shadow: 0 0 0 3pt #D5006D;
}

.gemini_rarrow:hover{
  box-shadow: 0 0 0 3pt #D5006D;
}

.men_tehina{
  height:260px;
  width:222px;
  background-image:url('../img/tehina.png');
  position:absolute;
  top:190px;
  left:50px;
}

.men_overwatch{
  height:116px;
  width:343px;
  position:absolute;
  top:-50px;
  left:-85px;
  background-image:url('../img/all_orders.png');
  -webkit-transform:scale(.9,.9);
}

.men_chicken{
  height:260px;
  width:161px;
  background-image:url('../img/chicken.png');
  position:absolute;
  top:190px;
  left:85px;
}

.men_onions{
  width:233px;
  height:224px;
  background-image:url('../img/roasted_onion.png');
  position:absolute;
  top:190px;
  left:50px;
}

.men_mas{
  width:255px;
  height:280px;
  background-image:url('../img/masbacha.png');
  position:absolute;
  top:190px;
  left:40px;
}

.men_barley{
  width:289px;
  height:212px;
  background-image:url('../img/bareley_sunflower.png');
  position:absolute;
  top:190px;
  left:25px;
}


.menu_pikachu{
  height:246px;
  width:315px;
  position:absolute;
  bottom:0px;
  background-image:url('../img/pikachu.png');
  left:10px;
}

.pikachu_insurance{
  height:5px;
  width:330px;
  background-color:#F8AB1E;
  position:absolute;
  top:-5px;
  left:-10px;
}

.menu_date{
  height:159px;
  width:166px;
  background-image:url('../img/date_tag.png');
  position:absolute;
  top:35px;
  left:80px;
}

.contact_carry{
  height:475px;
  width:475px;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
  position:absolute;
  bottom:60px;
  left:117px;
}

.contact_guts{
  height:404px;
  width:315px;
  background-image:url('../img/contact_guts.png');
  position:absolute;
  bottom:40px;
  left:70px;
}

input[type=text]{
  background:rgba(0, 0, 0, .2);
  width:100%;
  height:50px;
  text-align:left;
  border-radius:5px;
  font-size:18px;
  border:none;
  color:rgba(255,255,255, .7);
}

.prorder_carry{
  height:475px;
  width:475px;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
  position:absolute;
  bottom:60px;
  left:120px;
}

.prorder_tag{
  background-image:url('../img/quart_hummus.png');
  height:100px;
  width:390px;
  position:absolute;
  top: 20px;
  left: 40px;
}

.prorder_input_master{
  height:230px;
  width:425px;
  position:absolute;
  left:25px;
  bottom:110px;
}

.prorder_submit{
  background-image:url('../img/submitt.png');
  height:63px;
  width:166px;
  position:absolute;
  bottom:65px;
  left:270px;
  cursor:pointer;

}

.prorder_name{
  width:400px;
  height:50px;
  position:absolute;
  top:0px;

  left:20px;
}

.prorder_phone{
  height:50px;
  width:190px;
  position: absolute;
  top:70px;
  left:20px;
}

.prorder_email{
  height:50px;
  width:190px;
  position: absolute;

  top:70px;
  right:6px;
}

.prorder_date{
  height:50px;
  width:190px;
  position: absolute;

  top:140px;
  left:20px;
}

.prorder_time{
  height:50px;
  width:190px;
  position: absolute;

  top:140px;
  right:6px;
}

.prorder_quantity{
  height:50px;
  width:190px;
  position: absolute;

  top:210px;
  left:123px;
}

.about_log{
  width:72px;
  height:112px;
  position:absolute;
  left:70px;
  bottom:-170px;
  opacity:1;
  background-image:url('../img/about_log.png');
  transition:.25s ease-out;
}

.menu_log{
  width:104px;
  height:112px;
  position:absolute;
  left:40px;
  bottom:-170px;
  opacity:1;
  background-image:url('../img/menu_log.png');
  transition:.25s ease-out;
}

.prorder_log{
  background-image:url('../img/cart_log.png');
  height:109px;
  width:118px;
  position:absolute;
  left:25px;
  bottom:-170px;
  opacity:1;
  transition:.25s ease-out;
}

.contact_log{
  height:99px;
  width:132px;
  background-image:url('../img/contact_log.png');
  position:absolute;
  opacity:1;
  left:25px;
  bottom:-170px;
  transition:.25s ease-out;
}

.footer_family_carry{
  height:100%;
  width:50%;
  position:absolute;
  right:0px;
}

.family_all{
  height:113px;
  width:185px;
  background-image:url('../img/cooknsolo.png');
  position:absolute;
  opacity:1;
  transition:.25s ease-out;
  bottom:30px;
  right:200px;
  cursor:pointer;
  z-index:1;
}

.family_all:hover{
  -webkit-transform:scale(1.2,1.2);
  transition:.25s ease-out;
}

.all_vanish{
  opacity:0;
  transition:.25s ease-out;
}

.zahav{
  width:160px;
  height:70px;
  background-image:url('../img/zahav.png');
  opacity:0;
  position:absolute;
  bottom:50px;
  right:300px;
  transition:.25s ease-out;
  cursor:pointer;
}

.zahav_out{
  opacity:1;
  bottom:5px;
  right:300px;
  transition:.25s ease-out;
}

.zahav:hover{
  -webkit-transform:scale(1.2,1.2);
  transition:.25s ease-out;
}

.family_all_hide{
  opacity:0;
  transition:.25s ease-out;
}

.percy{
  height:69px;
  width:166px;
  background-image:url('../img/percy.png');
  position:absolute;
  bottom:50px;
  right:200px;
  opacity:0;
  cursor:pointer;
}

.percy_out{
  bottom:5px;
  right:100px;
  opacity:1;
  transition:.25s ease-out;
}

.percy:hover{
  -webkit-transform:scale(1.2,1.2);
  transition:.25s ease-out;
}
.donuts{
  height:55px;
  width:161px;
  background-image:url('../img/donuts.png');
  position:absolute;
  bottom:50px;
  right:200px;
  opacity:0;
  cursor:pointer;
  transition:.25 ease-out;
}

.donuts_out{
  bottom:100px;
  right:100px;
  opacity:1;
  transition:.25s ease-out;
}

.donuts:hover{
  -webkit-transform:scale(1.2,1.2);
  transition:.25s ease-out;
}

.abe{
  width:175px;
  height:64px;
  background-image:url('../img/abefisher.png');
  position:absolute;
  bottom:50px;
  right:200px;
  opacity:0;
  cursor:pointer;
}

.abe_out{
  bottom:100px;
  right:290px;
  opacity:1;
  transition:.25s ease-out;
}

.abe:hover{
  -webkit-transform:scale(1.2,1.2);
  transition:.25s ease-out;
}

.brunch_big{
  height:475px;
  width:475px;
  position:absolute;
  top:210px;
  left:120px;
  background-color:#371F1A;
  outline-color: #83A96C;
  outline-width: 4px;
  outline-style:solid;
  opacity:0;
  transition:.25s ease-out;
}

.destro{
  width:37px;
  height:35px;
  background-image:url('../img/destro.png');
  position:absolute;
  top:5px;
  right:5px;
  cursor:pointer;
  transition:.25s ease-out;
  z-index:2;
}

.destro:hover{
  -webkit-transform:scale(1.2,1.2);
  transition:.25s ease-out;
}

.destro_punch{
  opacity:0;
  transition:.25s ease-out;
}

.brunch_inz{
  opacity:1;
  transition:.25s ease-out;
}

.brunch_tag{
  width:425px;
  height:220px;
  background-image:url('../img/brnch_tagge.png');
  position:absolute;
  top:25px;
  left:20px;
}

.brunch_quantity{
  height:50px;
  width:190px;
  position: absolute;
  bottom:140px;
  left:138px;
}

.brunch_submit{
  background-image:url('../img/submitt.png');
  height:63px;
  width:166px;
  position:absolute;
  bottom:60px;
  left:150px;
  cursor:pointer;

}

.social_suitcase{
  height:100px;
  width:450px;
  position:absolute;
  top:100px;
  left:18%
}
